.vscode/
.env
build
web
node_modules/
*.p8
.expo/
dist/
*.jks
*.p12
npm-debug.*
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
yarn-error.log
log.txt
test.http
wiki
user-content/
replit.nix
.replit